<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3><%= current_user.username %>'s Friends</h3>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% @user.following.each do |user| %>
    <table class="users follow">
      <tr>
        <h3> <%= link_to user.username,user %> </h3>
      </tr>
    </table>
    <% end %>
  </div>
</div>
